$primary-color: #2DEDC0;
$secondary-color: white;
$rounded-corner: 17px;

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin tile {
    display: inline-block;

    width: 49%;
    height: 75vh;
    padding: 0 30px;
    margin: 2px;
    border-width: 10px 10px 16px 16px;
    box-shadow: -3px 3px 5px 5px white inset;
    border-style:solid;;
    border-color: #6ef7de #6ef7de #64BDB2 #64BDB2;
    border-radius: $rounded-corner;
    padding: 3px green;
    z-index: 1;

    background: $primary-color;
}
@mixin glass {
    &::after {
    content: "";
    // background: #3EFAE4;
    background: radial-gradient(farthest-corner at 40% 80%, #45a196 40%, #3EFAE4 80%, white 90%);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border: none;
    box-shadow: 10px -10px 10px 10px #2e6b64 inset;
    opacity: 0.5;
    position: absolute;
    transition: opacity 1s ease-out, z-index 0s linear 1s;
    }
}

@mixin center-content {
    display: flex;
    justify-content: center;
}

@mixin vertical-center-txt($element-height) {
    height: $element-height;
    line-height: $element-height;
}

#header {
    @include center-content;

    width: auto;
    margin-bottom: 2px;
    // border-top: 15px groove;
    border-bottom: 15px double; //groove; //double
    border-color: #6ef7de; //#45a196 #89c1a7;

    background: white;

    #page-title {
        @include vertical-center-txt(10px);
        font-size: 100px;
        text-align: center;
        color: #45a196;
        text-shadow: 8px 8px 10px $primary-color}
}



.tile-title {
    font-size: 50px;
    text-align: center;
}

#flex-container {
    @include center-content;
    position: relative;
    // slide is put in the component code itself
}

.owner {
    #pet-owner {
        box-shadow: -3px 3px 5px 5px #b6fbef inset;
    }
    #pet-owner::after {
        opacity: 0;
        z-index: -1;
    }

    // #pet-finder {z-index: 1}

    #pet-finder:hover {
        transform: translate(-15px, 0px);
    };
}

.finder {
    #pet-finder {
        box-shadow: -3px 3px 5px 5px #b6fbef inset;
    }
    #pet-finder::after {
        opacity: 0;
        z-index: -1; // to 'remove' glass-tile from top (otherwise UI-elements on pet-finder won't work)
    }

    #pet-owner {
        z-index:2
    }
    #pet-owner:hover {
        transform: translate(15px, 0px);
    };
}

#pet-owner, #pet-finder {
    box-sizing: border-box;
    position: relative;
    transition: transform 1s;
    -webkit-transition: transform 1s;

    @include tile;
    @include glass;
}

#pet-list {list-style-type: none;}
